.separator {
    margin: 10px auto 10px auto;
}

.postCenter {
    text-align: center;
}

.postMiddle {
    
}

.flex-container {
    display: flex;
    align-items: stretch;
}

    .flex-container > div {
        color: black;
        width: 100px;
        margin: auto;
        text-align: center;
        line-height: 75px;
        font-size: 20px;
    }
