@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Authorization";
}

<head>
    <link rel="stylesheet" href="~/css/LoginReg.css">
</head>

        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="login">
                <h2 class="login-title">Авторизируйтесь</h2>
                <hr />
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group postCenter">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="login-input" placeholder="Email Adress" autofocus />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group postCenter">
                    <label asp-for="Password">Пароль</label>
                    <input asp-for="Password" class="login-input" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group postCenter">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="login-button">Авторизоваться</button>
                </div>
                <div class="form-group">
                    <p class="login-lost">
                        <a asp-action="ForgotPassword">Забыли пароль?</a>
                    </p>
                    <p class="login-lost">
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Регистрация нового пользователя</a>
                    </p>
                </div>
            </form>
        </section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}