@model RegisterViewModel
@{
    ViewData["Title"] = "Registration";
}

<head>
    <link rel="stylesheet" href="~/css/LoginReg.css">
</head>

<section>
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="login">
    <h2 class="login-title">Регистрация</h2>
    <hr />
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="form-group postCenter">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="login-input" placeholder="Email Adress" autofocus />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group postCenter">
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" class="login-input" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group postCenter">
        <label asp-for="ConfirmPassword">Повторите пароль</label>
        <input asp-for="ConfirmPassword" class="login-input" placeholder="Password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="login-button">Зарегистрироваться</button>
</form>
    </section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}