@model CreatePostViewModel

@{
    ViewData["Title"] = "New article";
}

@*<script type="text/javascript" scr="js/tinymce/tinymne.min.js"></script>*@

<form method="post">
    <div class="panel panel-default separator">
        <div class="panel-heading postCenter">
            <h4>Название статьи:</h4>
            <input asp-for="Title" class="form-control" placeholder="Название статьи" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="panel-body postCenter">
            <h4>Текст:</h4>
            <textarea asp-for="Description" class="form-control" rows="10" style="resize:none"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="postCenter">
        <h4>Доступ к этой статье по ссылке, например "localhost:1212/Post/Get?titleUrl=NAME":</h4>
        <input asp-for="TitleUrl" class="form-control" placeholder="Короткий путь к статье" />
        <span asp-validation-for="TitleUrl" class="text-danger"></span>
    </div>
    <div class="form-group postCenter">
        <button type="submit" class="btn btn-default">Отправить</button>
    </div>
</form>