@model Client.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<form action="@Href("~/Posts/Update")" method="post" id=" postForm">
    @if(Model.Id != -1)
    {
    <input type="hidden" name="id" value="@Model.Id" />
    }
    <input type="text" name="dateTime" value="@Model.PostedOn" /> Date<br />
    <input type="text" name="title" value="@Model.Title" /> Title<br />

</form>