
@{
    ViewData["Title"] = "NotFound";
}

<section>
    <div class="postCenter">
        <h3>Страница не найдена [404]</h3>
        <h4>Проверьте правильность ссылки или вернитесь в нужное меню.</h4>
    </div>
</section>