@using Client.Data
@model CreatePostViewModel
@inject ApplicationDbContext AppDb

@{
    ViewData["Title"] = "Posts";
}

@*@{
        var title = AppDb.Posts
    }*@

<div class="panel panel-default separator">
    <div class="panel-heading postCenter">
        <h4>Название статьи:</h4>
        <label asp-for="Title">а?</label>
        @*@foreach (var title in Model)
        {
            @title.Title
        }*@
        @*<input asp-for="@AppDb" class="form-control" />*@
    </div>
    <div class="panel-body postCenter">
        <h4>Текст:</h4>
        @*<textarea asp-for="Description" class="form-control" rows="10" style="resize:none"></textarea>*@
    </div>
    <div class="panel-footer flex-container" style="height: auto">
        <div style="flex-grow: 3">dateTime</div>
        <div style="flex-grow: 3"><button type="button" class="btn btn-secondary">Full story</button></div>
        <div style="flex-grow: 3">Author</div>
    </div>
</div>
