@model Post

@{
    ViewData["Title"] = "Посты";
}

<div class="panel panel-default separator">
    <div class="panel-heading postCenter"><h2>Title</h2></div>
    <div class="panel-body postCenter">
        <h4>Content</h4>
    </div>
    <div class="panel-footer footerOne">dateTime</div>
    <div class="panel-footer footerTwo"><button type="button" class="btn btn-secondary btn-sm">Full story</button></div>
    <div class="panel-footer footerThree">Author</div>
</div>