@model List<CreatePostViewModel>

@{
    ViewData["Title"] = "All articles";
}

<head>
    <link rel="stylesheet" href="~/css/postlist.css">
</head>

<div>
    <br />
    @foreach (var item in Model)
    {
        <ol class="rounded-list">
            <li><a href="">Название статьи: @item.Title</a></li>
            <li><a href="">Автор: @item.Author</a></li>
            <li><a href="">Дата создания: @item.PostedOn</a></li>
            <li><a href="http://localhost:1212/Post/Get?titleUrl=@item.TitleUrl">Ссылка</a></li>
        </ol>
    }
</div>
